<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script src="webjars/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script src="../js/custom.js"/>


    <style>

        html, body {
            height: 100%;
        }

        body {
        }

        .navbar-custom .icon-bar {
            background-color: #fff;
        }

        .navbar-custom {
            background-color: #168ccc;
            color: #fff;
        }

        .navbar-custom li > a:hover, .navbar-custom li > a:focus {
            background-color: #49bfff;
        }

        .navbar-custom a {
            color: #fefefe;
        }

        .navbar-custom .form-control:focus {
            border-color: #49bfff;
            outline: 0;
            -webkit-box-shadow: inset 0 0 0;
            box-shadow: inset 0 0 0;
        }

        #main, #main > .row {
            height: 100%;
        }

        #main > .row {
            overflow-y: scroll;
        }

        #left {
            height: 100%;
        }

        #map {
            width: 90%;
            height: calc(100% - 0);
            position: absolute;
            right: 16px;
            top: 0px;
            bottom: 0;
            overflow: hidden;
        }

        .img_container {
            position: relative;
            display: inline-block;
            text-align: center;
            font-size: 10px;
            width:92px;
        }

        .row img {
            height: 70px;
        }

        .modal-header {
            height: 100px;
        }

        #addRouteModal .modal-header {
            background-image: url("../images/addRoute.png");
        }

        #addToRouteModal .modal-header {
            background-image: url("../images/reserve.png");
        }

        .modal-title{
            font-style: italic;
            color: darkgrey;
            width: 220px;
        }

        .col-sm-2{
            text-align: center;
        }

        .col-sm-2 h6{
            font-size: 10px;
        }

        .col-sm-2 p{
            font-size: 11px;
        }

        .col-sm-2 input{
            font-size: 9px;
            width: 80px;
            height: 15px;
        }

        .col-sm-2 img{
            width: 80px;
            height: 80px;
        }

    </style>
</head>
<body>

<div id="map"></div>
<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-xs-1" id="left">

            <div class="panel panel-default img_container" id="leftPanel">
                <img id="userpic" src="../images/dude.png"/>
                <div id="Greetings">Hi Dude!</div>
            </div>
            <div class="panel panel-default img_container">
                <p>To office</p>
                <img src="../images/toOffice.png"/>
            </div>

            <div class="panel panel-default img_container">
                <p>From office</p>
                <img src="../images/toHome.png"/>
            </div>
            <div class="panel panel-default img_container">
                <p>Free seats</p>
                <img src="../images/icon1.png"/>
            </div>

            <div class="panel panel-default img_container">
                <p>Booked by you</p>
                <img src="../images/icon2.png"/>
            </div>

            <div class="panel panel-default img_container">
                <p>Created by you</p>
                <img src="../images/icon3.png"/>
            </div>

            <div class="panel panel-default img_container">
                <img src="../images/settings.png"/>
            </div>
        </div>
        <div class="col-xs-11"><!--map-canvas will be postioned here--></div>

    </div>
</div>
<!-- end template -->


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLO0n80xGNZM4RyNvZqAVS7hgQHFsxG38&amp;callback=initMap"
        async="async" defer="defer"
>

</script>

<script async="async" defer="defer">
    getUserInfoAndInitLeftPanel();
</script>

<div class="modal fade" id="addToRouteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Reserve a place in the car</h4>
            </div>
            <div id="RouteId" hidden="true"></div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-1">
                        <h6>Start point</h6>
                        <img src="../images/toHomeDark.png"/>
                        <p id="Address"></p>
                    </div>
                    <div class="col-sm-2">
                        <h6>Destination</h6>
                        <img src="../images/toOfficeDark.png"/>
                        <p>Office</p>
                    </div>
                    <div class="col-sm-2">
                        <h6>Date</h6>
                        <img src="../images/date.png"/>
                        <p id="Date"></p>
                    </div>
                    <div class="col-sm-2">
                        <h6>Time</h6>
                        <img src="../images/time.png"/>
                        <p id="Time"></p>
                    </div>
                    <div class="col-sm-2">
                        <h6>Driver</h6>
                        <img src="../images/dude.png"/>
                        <p id="Driver"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-5">
                        <div style="display: inline;">Free places:</div>
                        <div style="display: inline;" id="FreePlaces"/>
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="ReservePlace">Reserve
                            place
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addRouteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Add new route</h4>
            </div>
            <form>
                <div class="modal-body">
                    <input type="hidden" id="Lat"/>
                    <input type="hidden" id="Lng"/>
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-1">
                            <h6>Start point</h6>
                            <img src="../images/toHomeDark.png"/>
                            <input type="text" id="Address"/>
                        </div>
                        <div class="col-sm-2">
                            <h6>Destination</h6>
                            <img src="../images/toOfficeDark.png"/>
                            <p>Office</p>
                        </div>
                        <div class="col-sm-2">
                            <h6>Date</h6>
                            <img src="../images/date.png"/>
                            <input type="date" id="Date"/>
                        </div>
                        <div class="col-sm-2">
                            <h6>Time</h6>
                            <img src="../images/time.png"/>
                            <input type="time" id="Time"/>
                        </div>
                        <div class="col-sm-2">
                            <h6>Driver</h6>
                            <img id="UserPic" src="../images/dude.png"/>
                            <p id="Driver"></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-5">
                            <div style="display: inline;">No of places:</div>
                            <input style="display: inline; width: 60px;" type="number" id="NoOfPlaces" class="input-sm"/>
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" id="AddRoute">Add route
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editRouteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--<div class="modal-header">-->
            <div class="modal-body">
                <img width="568" src="../images/editRouteMockup.png"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>